{% extends "base.html" %}
{% block content %}
<div class="center">
<h1 style="text-align: center">The Myth of Sisyphus</h1>
<p>This is a game based on the Greek myth of <a href="https://en.wikipedia.org/wiki/Sisyphus">Sisyphus</a> with inspiration from Albert Camus' essay on absurdism,
    <a href="https://www2.hawaii.edu/~freeman/courses/phil360/16.%20Myth%20of%20Sisyphus.pdf">The Myth of Sisyphus</a>. <br> The purpose of the game is to play. You can keep track of your progress, but no matter what you do,
    the boulder will always roll downhill.
</p>
    </div>
    <div class="video">
        <div id="vid-left" class="center">
            <h2 style="text-align: center">The Original Myth</h2>
            <iframe src="https://www.youtube.com/embed/q4pDUxth5fQ" frameborder="0" allowfullscreen width="500" height="400"></iframe>
        </div>
        <div id="vid-right" class="center">
            <h2 style="text-align: center">Camus' The Myth of Sisyphus<br> Explained</h2>
            <p style="color: red; text-align: center"><b>(Content Warning: Mentions of Suicide in a Philosophical Context)</b></p>
            <iframe src="https://www.youtube.com/embed/IKk4WEs3SyQ" frameborder="0" allowfullscreen width="500" height="400"></iframe>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main_scripts.js') }}"></script>
<div class="center">
    <h2 style="text-align: center">The Game</h2>
</div>
<!--<button id="rules" onclick="showRules(this)" class="center">Hide Rules-->
<!--</button>-->
  <div id="rules_text" style="display:block" class="center" style="margin-bottom: 1em;">
  <p>
      <b>Instructions:</b> <br>
  Like Sisyphus, you only have one path: <br>
  Push the boulder up the hill, retrieve the boulder, repeat.<br>
      <b>(Press 'W' to go up and 'D' to go right, then on the way back, press 'S' to go down and 'A' to go left)</b><br>
  Feel free to think deeply how this game is any more or less meaningful than anything else while you play.<br>
      Enjoy.
  </p>
  </div >
<div style="display:flex" id="rules_parent" class="center">

  <div>
    <textarea id="progress"></textarea>
    <canvas id="gameCanvas" width="300px" height= "300px" style="border:1px solid"></canvas>
  </div>
</div>

<script>
  // to do
  //better graphics/sprites
  // add in error handling for movement outside of screen
  // https://www.sitepoint.com/delay-sleep-pause-wait/
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  const board = document.getElementById("gameCanvas");
  const board_ctx = board.getContext("2d");
  const progress = document.getElementById("progress");
  const maxHeight = document.body.scrollHeight;
  const maxWidth = document.body.scrollWidth;

  const direction = Object.freeze({
    "UP": 1,
    "DOWN": 2,
    "LEFT": 3,
    "RIGHT": 4
  });

  var Sisyphus = {
    "x": 0,
    "y": 270
  };

  var Boulder = {
    "x" : Sisyphus["x"]+30,
    "y" : Sisyphus["y"] - 90
  };

  var lastKeyPressed = "";
  var distanceWalked = 0;
  var mountainsClimbed = 0;
  var anotherKeyPressed = false;
  var goingUP = true;

  function showRules(element) {
  var ruleText = document.getElementById(element.id + "_text");
      if (ruleText.style.display == "none") {
          ruleText.style.display = "block";
          element.innerHTML = "Hide Rules";
          }
      else if (ruleText.style.display == "block") {
          ruleText.style.display = "none";
          element.innerHTML = "Show Rules";
          }
  }

  document.addEventListener('keydown', function(event) {
    console.log("keypressed: ", event.keyCode, " last key ressed: ", lastKeyPressed,
        " going up: ", goingUP );
    //LEFT KEY
    if(event.keyCode == 65) {
        if (!goingUP && lastKeyPressed == 83) {
            moveSisyphusAndBoulder(direction.LEFT, 10);
            lastKeyPressed = 65;
            distanceWalked += 10;
            progress.value = "Distance: " + distanceWalked + "m. Mountains Climbed: " + mountainsClimbed;
    } else
      showUserPressedWrongKeyMessage();
        }
    //RIGHT KEY
    else if(event.keyCode == 68 && lastKeyPressed == 87)  {
        if (goingUP) {
            moveSisyphusAndBoulder(direction.RIGHT, 10);
            lastKeyPressed = 68;
            distanceWalked += 10;
            progress.value = "Distance: " + distanceWalked + "m. Mountains Climbed: " + mountainsClimbed;
        } else {
            showUserPressedWrongKeyMessage();
        }
    }
    //DOWN KEY
    else if(event.keyCode == 83) {
        if (!goingUP && lastKeyPressed == 65 || (Sisyphus["x"] == 270 && Sisyphus["y"] == 0)) {
            moveSisyphusAndBoulder(direction.DOWN, 10);
            lastKeyPressed = 83;
            distanceWalked += 10;
            progress.value = "Distance: " + distanceWalked + "m. Mountains Climbed: " + mountainsClimbed;
    } else
      showUserPressedWrongKeyMessage();
    }
    //UP KEY
    else if(event.keyCode == 87 && (lastKeyPressed == "" || lastKeyPressed == 68 || (lastKeyPressed == 83 && goingUP))) {
        if (goingUP) {
            upPressed = true;
            moveSisyphusAndBoulder(direction.UP, 10);
            lastKeyPressed = 87;
            distanceWalked += 10;
            progress.value = "Distance: " + distanceWalked + "m. Mountains Climbed: " + mountainsClimbed;
        } else {
            showUserPressedWrongKeyMessage();
        }
    } else {
    }
  });

  function showUserPressedWrongKeyMessage() {
    board_ctx.fillStyle = "red";
    if (goingUP) {
        board_ctx.fillText("☝ or 👉", 180, 275);
        } else {
        board_ctx.fillText("👇 or 👈", 180, 275);
       }

  }

  function showSisyphus() {
    board_ctx.clearRect(0, 0, maxWidth, maxHeight);
    board_ctx.fillStyle = "gray";
    board_ctx.strokestyle = 'black';
    board_ctx.fillRect(Boulder["x"], Boulder["y"], 80, 120);
    board_ctx.strokeRect(Boulder["x"], Boulder["y"], 80, 120);
    board_ctx.fillRect(Sisyphus["x"], Sisyphus["y"], 30, 30);
    board_ctx.strokeRect(Sisyphus["x"], Sisyphus["y"], 30, 30);
  }

  function moveSisyphusAndBoulder(direction, amount, punishment=false) {
    // 1 = up, 2 = down, 3 = left, 4= right
    if (Sisyphus["x"] == 270 && Sisyphus["y"] == 0 && goingUP) {
      {#Sisyphus["x"] = 0#}
      {#Sisyphus["y"] = 270#}
      Boulder["x"] = 30
      Boulder["y"] = 180
      showSisyphus();
      mountainsClimbed++;
      goingUP = false;
      return;
    }

    else if (Sisyphus["x"] == 0 && Sisyphus["y"] == 270 && !goingUP) {
      goingUP = true;
      return;
    }


    switch (direction) {
      case 1:
        if (Sisyphus["y"] == 0 ) {
          console.log("Sisyphus is too close to the top of the screen.");
        } else {
          Boulder["y"] -= amount;
          Sisyphus["y"] -= amount;
          showSisyphus();
       //   animate();
        };
        break;
      case 2:

        if (Sisyphus["x"] == 0) {
          console.log("Sisyphus is too close to the bottom of the screen.");
        } else {
            if (punishment) {
                Boulder["y"] += amount;
            }
          Sisyphus["y"] += amount;
          showSisyphus();
        //  animate();
        };
        break;
      case 3:

        if (Sisyphus["y"] == 270 && Sisyphus["x"] == 0) {
          console.log("Sisyphus is too close to the left of the screen.");
        } else {
            if (punishment) {
                Boulder["x"] -= amount;
            }
          Sisyphus["x"] -= amount;
          showSisyphus();
         // animate();
        };
        break;
      case 4:
        if (Sisyphus["x"] == 270 && Sisyphus["y"] == 0) {
          console.log("Sisyphus is too close to the right of the screen.");
        } else {
          Sisyphus["x"] += amount;
          Boulder["x"] += amount;
          showSisyphus();
          //animate();
        }
        break;
    }

  }


const timeout = ms => new Promise(resolve => setTimeout(resolve, ms));

//once a key has been pressed, recursively waits 1 second, checks if new key has been pressed and if not
//moves user down and left one movement
//to do:
//stop sisyphus if at edge of screen
//decrement mountains
async function checkMovement(keyPress) {
  anotherKeyPressed = false;
  await timeout(1000);
  //value before any keypress
  if (keyPress != "") {
    if (keyPress == lastKeyPressed && !anotherKeyPressed && goingUP) {
        if ((Sisyphus["x"] == 270 && Sisyphus["y"] == 0) || (Sisyphus["x"] == 0 && Sisyphus["y"] == 270)) {

        } else {
            console.log(keyPress, lastKeyPressed, " no key pressed");
            console.log("Sisyphus is at ", Sisyphus["x"], " ", Sisyphus["y"], " before");
            if (lastKeyPressed == 68) {
                moveSisyphusAndBoulder(direction.LEFT, 10, true);
                lastKeyPressed = 87;
            } else if (lastKeyPressed == 87) {
                moveSisyphusAndBoulder(direction.DOWN, 10, true);
                lastKeyPressed = 68;
            }
            console.log("Sisyphus is at ", Sisyphus["x"], " ", Sisyphus["y"], " after");
            distanceWalked -= 10;
            progress.value = "Distance: " + distanceWalked + "m. Mountains Climbed: " + mountainsClimbed;
            return await checkMovement(lastKeyPressed);
        }
    }
    else {
      //console.log(lastKeyPressed, " key pressed within 1 second");
    }
}
  return await checkMovement(lastKeyPressed);
}

checkMovement(lastKeyPressed);



  async function loopOverTestInput(input) {
    for(var i = 0; i < input.length; i ++) {
      moveSisyphusAndBoulder(input[i]["direction"], input[i]["amount"]);
      await sleep(1000);
    }
  }
/*
  //animate sprites
  const boulderScale = 5;
  const initialBoulderWidth = 32;
  const initialBoulderHeight = 32;
  const finalBoulderWidth = boulderScale * initialBoulderWidth;
  const finalBoulderHeight = boulderScale * initialBoulderHeight;
  const boulderSpriteList = [0,1,2,3];
  let frameCount = 0;
  let spriteIndex = 0;

  //https://archive.jlongster.com/Making-Sprite-based-Games-with-Canvas
      console.log("test");

  var lastTime;
  function main() {
    var now = Date.now();
    var dt = (now - lastTime) / 1000.0;

    update(dt);
    render();

    lastTime = now;
    requestAnimFrame(main);
  };

  let img = new Image();
  img.src = "{{ url_for('static', filename='rock_round.jpg')}}";
  //when img finished loading, run animation
  //img.onload = function() {
  //  animate();
 // }



  function drawFrame(frameX, frameY, canvasX, canvasY) {
    //drawImage(image, sourceX, sourceY, sourceWidth, sourceHeight, destinationX...etc)
    board_ctx.drawImage(img,
    frameX * initialBoulderWidth,
    frameY * initialBoulderHeight,
    initialBoulderWidth,
    initialBoulderHeight,
    canvasX,
    canvasY,
    finalBoulderWidth,
    finalBoulderHeight);
    }

  function animate() {
   window.requestAnimationFrame(step);
    }

  function step() {
    frameCount++;
    if (frameCount < 15) {
      window.requestAnimationFrame(step);
      return;
    }
    frameCount = 0;
    board_ctx.clearRect(0,0,board.width,board.height);
    //drawFrame(boulderSpriteList[spriteIndex],0,Boulder["x"], Boulder["y"]);
    //spriteIndex++;
    //if (spriteIndex => boulderSpriteList.length) {
   // 	spriteIndex = 0;
   // }
  //  for (var i = 0; i < boulderSpriteList.length; i++) {
  //    drawFrame(boulderSpriteList[i],0,Boulder["x"], Boulder["y"]);
  //  }

    window.requestAnimationFrame(step);

  } */


  //run game

  let input = [{"direction":direction.UP, "amount":10},
               {"direction":direction.UP, "amount":10},
               {"direction":direction.RIGHT, "amount":10},
               {"direction":direction.DOWN, "amount":10},
               {"direction":direction.RIGHT, "amount":10},
               {"direction":direction.UP, "amount":10},
               {"direction":direction.UP, "amount":10}];

  showSisyphus();
  //loopOverTestInput(input);




</script>

{% endblock %}