{% extends "base.html" %}
{% block content %}
<div class="center">
<div id="toc">
    <b>Contents</b>
    <div id="full">
        <a href="#intro">Introduction</a><br>
        <a href="#vid-left">The Myth</a><br>
        <a href="#vid-right">The Philosophy</a><br>
        <a href="#gameCanvas">The Game</a>
    </div>
</div>
    <div id="intro" style="margin-top: 75px;">
<h1 style="text-align: center">The Myth of Sisyphus</h1>
<p>This is a game based on the Greek myth of <a href="https://en.wikipedia.org/wiki/Sisyphus">Sisyphus</a> with inspiration from Albert Camus' essay on absurdism,
    <a href="https://www2.hawaii.edu/~freeman/courses/phil360/16.%20Myth%20of%20Sisyphus.pdf">The Myth of Sisyphus</a>. <br> The purpose of the game is to play. You can keep track of your progress, but no matter what you do,
    the boulder will always roll downhill.
</p>
        </div>
    </div>
    <div class="video">
        <div id="vid-left" class="center">
            <h2 style="text-align: center">The Original Myth</h2>
            <iframe src="https://www.youtube.com/embed/q4pDUxth5fQ" frameborder="0" allowfullscreen width="500" height="400"></iframe>
        </div>
        <div id="vid-right" class="center">
            <h2 style="text-align: center">Camus' The Myth of Sisyphus<br> Explained</h2>
            <p style="color: red; text-align: center"><b>(Content Warning: Mentions of Suicide in a Philosophical Context)</b></p>
            <iframe src="https://www.youtube.com/embed/IKk4WEs3SyQ" frameborder="0" allowfullscreen width="500" height="400"></iframe>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main_scripts.js') }}"></script>
<div class="center">
    <h2 style="text-align: center">The Game</h2>
</div>
  <div id="rules_text" style="display:block" class="center" style="margin-bottom: 1em;">
  <p>
      <b>Instructions:</b> <br>
  Like Sisyphus, you only have one path: <br>
  Push the boulder up the hill, retrieve the boulder, repeat.<br>
      <b>(Press 'W' to go up and 'D' to go right, then on the way back, press 'S' to go down and 'A' to go left)</b><br>
  Feel free to think deeply how this game is any more or less meaningful than anything else while you play.<br>
      Enjoy.
  </p>
  </div >
<div style="display:flex" id="rules_parent" class="center">

  <div>
    <textarea id="progress"></textarea>
    <canvas id="gameCanvas" width="300px" height= "300px" style="border:1px solid"></canvas>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script>
  //please forgive the spaghetti and nested if/ else if/ for loops, im lazy
  // https://www.sitepoint.com/delay-sleep-pause-wait/
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  const board = document.getElementById("gameCanvas");
  const board_ctx = board.getContext("2d");
  const progress = document.getElementById("progress");
  const maxHeight = document.body.scrollHeight;
  const maxWidth = document.body.scrollWidth;


  var initPlayerWidth = 252;
  var initPlayerHeight = 212;
  var initBoulderHeight = 200;
  var initBoulderWidth = 200;
  var canvasWidth = 300;
  var canvasHeight = 300;
  var playerScale = .25;
  var boulderScale = .5;
  var playerWidth = initPlayerWidth * playerScale;
  var playerHeight = initPlayerHeight * playerScale;
  var boulderWidth = initBoulderWidth * boulderScale;
  var boulderHeight = initBoulderHeight * boulderScale;

  const direction = Object.freeze({
    "UP": 1,
    "DOWN": 2,
    "LEFT": 3,
    "RIGHT": 4
  });

  var Sisyphus = {
    "x": 0,
    "y": canvasHeight - playerHeight
  };
  var Boulder = {
    "x" : Sisyphus["x"] + playerWidth,
    "y" : canvasHeight - boulderHeight
  };

  var lastKeyPressed = "";
  var distanceWalked = 0;
  var mountainsClimbed = 0;
  var anotherKeyPressed = false;
  var goingUP = true;

  //////////////////////////////////////////////////
  /////////////////////////////////////////////////
  //////////////////////////////////////////////////
  //animate sprites
  //boulder and player sprite counts
  let boulderMoveSprites = [0,1];
  let playerMoveSprites = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16];
  //width and height of each sprite image
  function drawFrame(image, frameX, frameY, canvasX, canvasY, width, height) {
    board_ctx.drawImage(image,
                frameX * width, frameY * height, width, height,
                canvasX, canvasY, playerWidth, playerHeight);
  }

  // load first frame or else sprite will be blank until keypress
  function initPlayer() {
  drawFrame(playerImage, playerMoveSprites[0], 0, Sisyphus["x"], Sisyphus["y"], initPlayerWidth, initPlayerHeight);
  }

  function initBoulder() {
    drawFrame(boulderImage, boulderMoveSprites[0], 0, Boulder["x"], Boulder["y"], initBoulderWidth, initBoulderHeight);
  }

  // 1 bc already called first frame
  let currentPlayerLoopIndex = 1;
  let currentBoulderLoopIndex = 1;

  function step(direction) {
    //clear board
    board_ctx.clearRect(0, 0, board.width, board.height);
    //draw player
    drawFrame(playerImage, playerMoveSprites[currentPlayerLoopIndex], 0, Sisyphus["x"], Sisyphus["y"], initPlayerWidth, initPlayerHeight);
    //step forwards or backwards
    if (direction == "forwards") {
      currentPlayerLoopIndex++;
      if (currentPlayerLoopIndex >= playerMoveSprites.length) {
        currentPlayerLoopIndex = 0;
      }
    } else if (direction == "backwards") {
      currentPlayerLoopIndex--;
      if (currentPlayerLoopIndex < 0) {
        currentPlayerLoopIndex = playerMoveSprites.length;
      }
    } else {
      console.log("step does not accept this direction");
    }
    //draw boulder
    drawFrame(boulderImage, boulderMoveSprites[currentBoulderLoopIndex], 0, Boulder["x"], Boulder["y"], initBoulderWidth, initBoulderHeight);
    //step forwards or backwards
    if (direction == "forwards") {
      currentBoulderLoopIndex++;
      if (currentBoulderLoopIndex >= boulderMoveSprites.length) {
        currentBoulderLoopIndex = 0;
      }
    } else if (direction == "backwards") {
      currentBoulderLoopIndex--;
      if (currentBoulderLoopIndex < 0) {
        currentBoulderLoopIndex = boulderMoveSprites.length;
      }
    } else {
      console.log("step does not accept this direction");
    }
  }


  //////////////////////////////////
  //loading images
  //drawImage args: image location, starting x and y coordinates from image, 
  //ending x and y coordinates from image, starting x and y coordinates from canvas, ending x and y coordinates from canvas
  //draw frame just looks at frame locations in sprite sheet and canvas locations
  let boulderImage = new Image();
  boulderImage.src = "{{ url_for('static', filename='boulderSprite2.png')}}";
  boulderImage.onload = function() {
    initBoulder();
  };

  let playerImage = new Image();
  playerImage.src = "{{ url_for('static', filename='playerSprite3.png')}}";
  playerImage.onload = function() {
    initPlayer();
  };

  function showRules(element) {
  var ruleText = document.getElementById(element.id + "_text");
      if (ruleText.style.display == "none") {
          ruleText.style.display = "block";
          element.innerHTML = "Hide Rules";
          }
      else if (ruleText.style.display == "block") {
          ruleText.style.display = "none";
          element.innerHTML = "Show Rules";
          }
  }

  document.addEventListener('keydown', function(event) {
    //LEFT KEY
      console.log("Sisyphus at ", Sisyphus["x"], ", ", Sisyphus["y"], " Boulder at ", Boulder["x"], ", ", Boulder["y"]);
    if(event.keyCode == 65) {
        if (!goingUP && lastKeyPressed == 83) {
            moveSisyphusAndBoulder(direction.LEFT, 10);
            lastKeyPressed = 65;
            distanceWalked += 10;
            progress.value = "Distance: " + distanceWalked + "m. Mountains Climbed: " + mountainsClimbed;
    } else
      window.alert("Your Only Option Are Up and Forward. In That Order.");
        }
    //RIGHT KEY
    else if(event.keyCode == 68 && lastKeyPressed == 87)  {
        if (goingUP) {
            moveSisyphusAndBoulder(direction.RIGHT, 10);
            lastKeyPressed = 68;
            distanceWalked += 10;
            progress.value = "Distance: " + distanceWalked + "m. Mountains Climbed: " + mountainsClimbed;
        } else {
            window.alert("Your Only Option Are Down and Backwards. In That Order.");
        }
    }
    //DOWN KEY
    else if(event.keyCode == 83) {
        if (!goingUP && lastKeyPressed == 65 || (Sisyphus["x"] == 270 && Sisyphus["y"] == -33)) {
            moveSisyphusAndBoulder(direction.DOWN, 10);
            lastKeyPressed = 83;
            distanceWalked += 10;
            progress.value = "Distance: " + distanceWalked + "m. Mountains Climbed: " + mountainsClimbed;
    } else
      window.alert("Your Only Option Are Up and Forward. In That Order.");
    }
    //UP KEY
    else if(event.keyCode == 87 && (lastKeyPressed == "" || lastKeyPressed == 68 || (lastKeyPressed == 83 && goingUP))) {
        if (goingUP) {
            upPressed = true;
            moveSisyphusAndBoulder(direction.UP, 10);
            lastKeyPressed = 87;
            distanceWalked += 10;
            progress.value = "Distance: " + distanceWalked + "m. Mountains Climbed: " + mountainsClimbed;
        } else {
            window.alert("Your Only Option Are Down and Backwards. In That Order.");
        }
    } else {
    }
  });


  function moveSisyphusAndBoulder(direction, amount, punishment=false) {
    // 1 = up, 2 = down, 3 = left, 4= right
    if (Sisyphus["x"] == 270 && Sisyphus["y"] == -33 && goingUP) {
      Sisyphus["x"] = 0;
      Sisyphus["y"] = 270;
      initBoulder();
      mountainsClimbed++;
      goingUP = false;
      $(function()
        {
           $.ajax({
                url: $SCRIPT_ROOT + '/_add_high_score',
                type: "POST",
                data:JSON.stringify({"distance": distanceWalked,
                      "mountains": mountainsClimbed}),
                contentType: 'application/json'
                }).done(function(data) {
            console.log(data);
            })});
      return;
    }

    else if (Sisyphus["x"] == 0 && Sisyphus["y"] == 270 && !goingUP) {
      goingUP = true;
      return;
    }


    switch (direction) {
      case 1:
        if (Sisyphus["y"] == 0 ) {
          console.log("Sisyphus is too close to the top of the screen.");
        } else {
          Boulder["y"] -= amount;
          Sisyphus["y"] -= amount;
          step(direction = "forwards");
        };
        break;
      case 2:

        if (Sisyphus["x"] == 0) {
          console.log("Sisyphus is too close to the bottom of the screen.");
        } else {
            if (punishment) {
                Boulder["y"] += amount;
            }
          Sisyphus["y"] += amount;
        };
        break;
      case 3:

        if (Sisyphus["y"] == 270 && Sisyphus["x"] == 0) {
          console.log("Sisyphus is too close to the left of the screen.");
        } else {
            if (punishment) {
                Boulder["x"] -= amount;
            }
          Sisyphus["x"] -= amount;
        };
        break;
      case 4:
        if (Sisyphus["x"] == 270 && Sisyphus["y"] == -33) {
          console.log("Sisyphus is too close to the right of the screen.");
        } else {
          Sisyphus["x"] += amount;
          Boulder["x"] += amount;
          step(direction = "forwards");
        }
        break;
    }

  }


const timeout = ms => new Promise(resolve => setTimeout(resolve, ms));

//once a key has been pressed, recursively waits 1 second, checks if new key has been pressed and if not 
//moves user down and left one movement
//to do:
//stop sisyphus if at edge of screen
//decrement mountains
async function checkMovement(keyPress) {
  anotherKeyPressed = false;
  await timeout(1000);
  //value before any keypress
  if (keyPress != "") {
    if (keyPress == lastKeyPressed && !anotherKeyPressed && goingUP) {
        if ((Sisyphus["x"] == 270 && Sisyphus["y"] == -33) || (Sisyphus["x"] == 0 && Sisyphus["y"] == 270)) {

        } else {
            console.log(keyPress, lastKeyPressed, " no key pressed");
            console.log("Sisyphus is at ", Sisyphus["x"], " ", Sisyphus["y"], " before");
            if (lastKeyPressed == 68) {
                moveSisyphusAndBoulder(direction.LEFT, 10, true);
                lastKeyPressed = 87;
            } else if (lastKeyPressed == 87) {
                moveSisyphusAndBoulder(direction.DOWN, 10, true);
                lastKeyPressed = 68;
            }
            console.log("Sisyphus is at ", Sisyphus["x"], " ", Sisyphus["y"], " after");
            distanceWalked -= 10;
            step("backwards");
            progress.value = "Distance: " + distanceWalked + "m. Mountains Climbed: " + mountainsClimbed;
            return await checkMovement(lastKeyPressed);
        }
    } 
    else {
    } 
}
  return await checkMovement(lastKeyPressed);
}

checkMovement(lastKeyPressed);



  async function loopOverTestInput(input) {
    for(var i = 0; i < input.length; i ++) {
      moveSisyphusAndBoulder(input[i]["direction"], input[i]["amount"]);
      await sleep(1000);
    }
  }

  //test input
  let input = [{"direction":direction.UP, "amount":10},
               {"direction":direction.UP, "amount":10},
               {"direction":direction.RIGHT, "amount":10},
               {"direction":direction.DOWN, "amount":10},
               {"direction":direction.RIGHT, "amount":10},
               {"direction":direction.UP, "amount":10},
               {"direction":direction.UP, "amount":10}];
</script>

{% endblock %}